#app {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    background-color: var(--shape-body);
    height: 100vh;
    width: 100vw; 
    overflow: hidden;
}
aside {
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;

    background-image: url(../assets/image/background.svg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.aside-container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    z-index: 1;
}

.logomarca {
    margin-bottom: 2rem;
}

.branding {
    margin-top: 2rem;
}

.branding h1 {
    font: var(--logo);
    color: #FF598B;
}

.branding span {
    font: var(--body-xs);
    color: var(--text-heading);
}

main {
    overflow: auto;
    padding: 5rem;
    height: 100vh;
    background-color: var(--shape-background);
    border-radius: 1rem;
}

.main-container {
    max-width: 33rem;
    margin: 0 auto;
    padding: 3rem;
    
}
.info span {
    font: var(--heading-md);
    color: var(--text-body);
}

.info2 {
    display: flex;
    gap: 1rem;
}

.info2 h2 {
    font: var(--body-sm);
    color: var(--text-heading);
}

